<div class="inner">
  <ul id="menu-main-menu" class=" main-menu mom_visibility_desktop">
    <li id="menu-item-87"
      class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home mom_default_menu_item menu-item-iconsOnly menu-item-depth-0">
      <a href="/" title="no title" class="no-arrow"><i class="icon_only momizat-icon-home"></i><span
          class="icon_only_label"></span></a>
    </li>
    <li class="menu-item menu-item-type-custom  menu-item-has-children menu-parent-item mom_mega menu-item-depth-0">
      <a href="#" title="Tutorials">Lập trình</a>
      <ul class="sub-menu mom_mega_wrap mom_mega_col_5">
        <li
          class="menu-item menu-item-type-custom  menu-item-has-children menu-parent-item mega_column mega_col_title menu-item-depth-1">
          <a href="/programming" title="Programming">Programming</a>
          <ul>
            <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-python"
                title="Python">Python</a></li>
            <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-java"
                title="Java">Java</a></li>
            <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-pascal"
                title="Pascal">Pascal</a></li>
            <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-csharp"
                title="Học C#">Học C#</a></li>
            <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-ruby"
                title="Học Ruby">Học Ruby</a></li>
            <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-swift"
                title="Học Swift">Học Swift</a></li>
            <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-c"
                title="C / C++">C / C++</a></li>
            <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/kotlin"
                title="Kotlin">Kotlin</a></li>
            <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/golang"
                title="Golang">Golang</a></li>
            <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/giai-thuat"
                title="Giải thuật">Giải thuật</a></li>
            <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/visual-basic"
                title="Visual Basic">Visual Basic</a></li>
          </ul> <i class="responsive-caret"></i>
        </li>
        <li
          class="menu-item menu-item-type-custom  menu-item-has-children menu-parent-item mega_column mega_col_title menu-item-depth-1">
          <a href="/web-frontend" title="Web Frontend">Web Frontend</a>
          <ul>
            <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-javascript"
                title="Javascript">Javascript</a></li>
            <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-angularjs"
                title="AngularJS">AngularJS</a></li>
            <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-jquery"
                title="jQuery">jQuery</a></li>
            <li class="menu-item mom_default_menu_item menu-item-depth-2"><a
                href="https://freetuts.net/hoc-jquery-mobile" title="jQuery Mobile">jQuery Mobile</a></li>
            <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-html-css"
                title="HTML &amp; CSS">HTML &amp; CSS</a></li>
            <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-bootstrap"
                title="Bootstrap">Bootstrap</a></li>
            <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-typescript"
                title="TypeScript">TypeScript</a></li>
            <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-sass-css"
                title="SASS CSS">SASS CSS</a></li>
            <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-vuejs"
                title="VueJS">VueJS</a></li>
            <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-nestjs"
                title="NestJS">NestJS</a></li>
            <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/reactjs"
                title="Học ReactJS">Học ReactJS</a></li>
          </ul> <i class="responsive-caret"></i>
        </li>
        <li
          class="menu-item menu-item-type-custom  menu-item-has-children menu-parent-item mega_column mega_col_title menu-item-depth-1">
          <a href="/web-backend" title="Web Backend">Web Backend</a>
          <ul>
            <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-php"
                title="PHP">PHP</a></li>
            <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-codeigniter"
                title="Codeigniter">Codeigniter</a></li>
            <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-laravel"
                title="Laravel">Laravel</a></li>
            <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-phalcon"
                title="Phalcon">Phalcon</a></li>
            <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-opencart"
                title="OpenCart">OpenCart</a></li>
            <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-nodejs"
                title="NodeJS">NodeJS</a></li>
          </ul> <i class="responsive-caret"></i>
        </li>
        <li
          class="menu-item menu-item-type-custom  menu-item-has-children menu-parent-item mega_column mega_col_title menu-item-depth-1">
          <a href="/mobile-development" title="Web Frontend">Mobile Dev</a>
          <ul>
            <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/react-native"
                title="React Native">React Native</a></li>
            <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/ios"
                title="Học iOS">Học iOS</a></li>
            <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/android"
                title="Android">Android</a></li>
          </ul> <a style="margin-top: 33px" href="/database" title="Database">Database</a>
          <ul>
            <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/csdl-can-ban"
                title="CSDL căn bản">CSDL căn bản</a></li>
            <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-sqlite"
                title="Học SQLite">Học SQLite</a></li>
            <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-mysql"
                title="Học MySQL">Học MySQL</a></li>
            <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-sql-server"
                title="Học SQL Server">Học SQL Server</a></li>
            <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-oracle"
                title="Học Oracle">Học Oracle</a></li>
            <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-mongodb"
                title="Học MongoDB">Học MongoDB</a></li>
          </ul>
          <i class="responsive-caret"></i>
        </li>
        <li
          class="menu-item menu-item-type-custom  menu-item-has-children menu-parent-item mega_column mega_col_title menu-item-depth-1">

          <a href="/cong-cu" title="Công cụ">Công cụ</a>
          <ul>
            <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-git"
                title="Học Git">Học Git</a></li>
            <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/testing"
                title="Testing">Testing</a></li>
            <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/dev-tool"
                title="Dev Tool">Dev Tool</a></li>
            <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/control-panel"
                title="Control Panel">Control Panel</a></li>
          </ul>
          <i class="responsive-caret"></i>
        </li>
      </ul>
      <i class="responsive-caret"></i>
    </li>
    <li class="menu-item menu-item-has-children menu-parent-item mom_default_menu_item menu-item-depth-0">

      <a href="#" rel="nofollow" title="Video">
        Video </a>
      <ul class="sub-menu ">
        <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/hoc-lam-web-php" title="Lập trình web PHP AZ">
            Lập trình web PHP AZ</a>

        </li>
        <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/lam-blog-bang-wordpress-voi-theme-generatepress-3352.html" title="Làm blog WordPress">
            Làm blog WordPress</a>

        </li>
        <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/hoc-codeigniter/xay-dung-website-ban-hang-codeigniter" title="Làm web bán hàng">
            Làm web bán hàng</a>

        </li>
      </ul>
      <i class="responsive-caret"></i>
    </li>
    <li class="menu-item menu-item-has-children menu-parent-item mom_default_menu_item menu-item-depth-0">

      <a href="/khoa-hoc" title="Khóa học">
        Khóa học </a>
      <ul class="sub-menu ">
        <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/khoa-hoc/ngon-ngu-lap-trinh" title="Khóa học lập trình">
            Khóa học lập trình</a>

        </li>
        <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/khoa-hoc/tin-hoc-may-tinh" title="Khóa học tin học VP">
            Khóa học tin học VP</a>

        </li>
        <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/khoa-hoc/design" title="Khóa học thiết kế">
            Khóa học thiết kế</a>

        </li>
        <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/khoa-hoc/khoa-hoc-khac" title="Khóa học khác">
            Khóa học khác</a>

        </li>
      </ul>
      <i class="responsive-caret"></i>
    </li>
    <li class="menu-item menu-item-has-children menu-parent-item mom_default_menu_item menu-item-depth-0">

      <a href="/webmaster" title="Webmaster">
        Webmaster </a>
      <ul class="sub-menu ">
        <li class="menu-item menu-item-has-children menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="#" title="Nên dùng">
            <i class="fa-icon-hand-right"></i>Nên dùng</a>

          <ul class="sub-menu ">
            <li class="menu-item  mom_default_menu_item menu-item-depth-2">
              <a href="/hosting-tot-nhat-2547.html" title="Hosting tốt nhất">Hosting tốt nhất</a>
            </li>
            <li class="menu-item  mom_default_menu_item menu-item-depth-2">
              <a href="/vps-tot-nhat-2568.html" title="VPS tốt nhất">VPS tốt nhất</a>
            </li>
            <li class="menu-item  mom_default_menu_item menu-item-depth-2">
              <a href="/nhung-noi-ban-domain-uy-tin-2881.html" title="Mua domain ở đâu">Mua domain ở đâu</a>
            </li>
          </ul>
          <i class="responsive-caret"></i>
        </li>
        <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/kien-thuc-domain" title="Kiên thức Domain">
            Kiên thức Domain</a>

        </li>
        <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/thu-thuat-hosting" title="Thủ thuật Hosting">
            Thủ thuật Hosting</a>

        </li>
        <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/hoc-linux" title="Quản trị Linux">
            Quản trị Linux</a>

        </li>
        <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/quan-tri-windows" title="Quản trị Windows">
            Quản trị Windows</a>

        </li>
      </ul>
      <i class="responsive-caret"></i>
    </li>
    <li class="menu-item menu-item-has-children menu-parent-item mom_default_menu_item menu-item-depth-0">

      <a href="/giam-gia" title="Mã giảm giá">
        Mã giảm giá </a>
      <ul class="sub-menu ">
        <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/giam-gia/ma-giam-gia-tinohost" title="Tinohost">
            Tinohost</a>

        </li>
        <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/giam-gia/ma-giam-gia-azdigi" title="Azdigi">
            Azdigi</a>

        </li>
        <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/giam-gia/ma-giam-gia-hawkhost" title="Hawk Host">
            Hawk Host</a>

        </li>
        <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/giam-gia/ma-giam-gia-stablehost" title="Stablehost">
            Stablehost</a>

        </li>
        <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/giam-gia/ma-giam-gia-vultr" title="Vultr">
            Vultr</a>

        </li>
      </ul>
      <i class="responsive-caret"></i>
    </li>
    <li class="menu-item menu-item-has-children menu-parent-item mom_default_menu_item menu-item-depth-0">

      <a href="/hoc-wordpress" title="WordPress">
        WordPress </a>
      <ul class="sub-menu ">
        <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/hoc-wordpress/tao-website-wordpress" title="Bắt đầu tại đây">
            Bắt đầu tại đây</a>

        </li>
        <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/hoc-wordpress/wp-themes" title="Chia sẻ theme WP">
            Chia sẻ theme WP</a>

        </li>
        <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/hoc-wordpress/lap-trinh-plugin-wordpress" title="Lập trình plugin WP">
            Lập trình plugin WP</a>

        </li>
        <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/hoc-wordpress/lap-trinh-theme-wordpress" title="Lập trình theme WP">
            Lập trình theme WP</a>

        </li>
        <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/hoc-wordpress/thu-thuat-wordpress" title="Thủ thuật WP">
            Thủ thuật WP</a>

        </li>
        <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/hoc-wordpress/template-tags" title="Template Tags">
            Template Tags</a>

        </li>
      </ul>
      <i class="responsive-caret"></i>
    </li>
    <li class="menu-item menu-item-has-children menu-parent-item mom_default_menu_item menu-item-depth-0">

      <a href="/tin-hoc" title="Tin học">
        Tin học </a>
      <ul class="sub-menu ">
        <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/hoc-word" title="Word">
            Word</a>

        </li>
        <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/hoc-excel" title="Excel">
            Excel</a>

        </li>
        <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/hoc-powerpoint" title="PowerPoint">
            PowerPoint</a>

        </li>
        <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/hoc-access" title="Access">
            Access</a>

        </li>
        <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/hoc-photoshop" title="Photoshop">
            Photoshop</a>

        </li>
      </ul>
      <i class="responsive-caret"></i>
    </li>
    <li class="menu-item menu-item-has-children menu-parent-item mom_default_menu_item menu-item-depth-0">

      <a href="/thu-thuat" title="Thủ thuật">
        Thủ thuật </a>
      <ul class="sub-menu ">
        <li class="menu-item menu-item-has-children menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/thu-thuat/cuu-ho-may-tinh" title="Cứu hộ máy tính">
            Cứu hộ máy tính</a>

          <ul class="sub-menu ">
            <li class="menu-item  mom_default_menu_item menu-item-depth-2">
              <a href="/thu-thuat/cuu-ho-may-tinh/ghost-win" title="Cách ghost Win">Cách ghost Win</a>
            </li>
            <li class="menu-item  mom_default_menu_item menu-item-depth-2">
              <a href="/thu-thuat/cuu-ho-may-tinh/cai-win" title="Cách cài Win">Cách cài Win</a>
            </li>
            <li class="menu-item  mom_default_menu_item menu-item-depth-2">
              <a href="/thu-thuat/cuu-ho-may-tinh/tao-usb-boot" title="Tạo USB Boot">Tạo USB Boot</a>
            </li>
            <li class="menu-item  mom_default_menu_item menu-item-depth-2">
              <a href="/thu-thuat/cuu-ho-may-tinh/phuc-hoi-du-lieu" title="Phục hồi dữ liệu">Phục hồi dữ liệu</a>
            </li>
            <li class="menu-item  mom_default_menu_item menu-item-depth-2">
              <a href="/thu-thuat/cuu-ho-may-tinh/loi-win" title="Fix lỗi win">Fix lỗi win</a>
            </li>
          </ul>
          <i class="responsive-caret"></i>
        </li>
        <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/thu-thuat/dien-thoai" title="Điện Thoại">
            Điện Thoại</a>

        </li>
        <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/thu-thuat/may-tinh" title="Máy tính">
            Máy tính</a>

        </li>
        <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/thu-thuat/game" title="Game">
            Game</a>

        </li>
        <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/thu-thuat/ky-thuat-so" title="Kỹ Thuật Số">
            Kỹ Thuật Số</a>

        </li>
        <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/thu-thuat/ung-dung" title="Ứng dụng">
            Ứng dụng</a>

        </li>
        <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/review" title="Review">
            Review</a>

        </li>
      </ul>
      <i class="responsive-caret"></i>
    </li>
    <li class="menu-item menu-item-has-children menu-parent-item mom_default_menu_item menu-item-depth-0">

      <a href="/mon-hoc" title="Môn học">
        Môn học </a>
      <ul class="sub-menu ">
        <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/toan" title="Toán">
            Toán</a>

        </li>
        <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/tieng-anh" title="Tiếng Anh">
            Tiếng Anh</a>

        </li>
        <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/van-hoc" title="Văn học">
            Văn học</a>

        </li>
      </ul>
      <i class="responsive-caret"></i>
    </li>
    <li class="more menu-item menu-item-has-children menu-parent-item mom_default_menu_item menu-item-depth-0">

      <a href="#" title="more">
        <span class="menu-more"></span>
        <span class="menu-text">More</span>
      </a>
      <ul class="sub-menu ">
        <li class="menu-item menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/tai-ve" title="Download">Download</a>
        </li>
        <li class="menu-item menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/marketing" title="Marketing">Marketing</a>
        </li>
        <li class="menu-item menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/mon-hoc" title="Môn học">Môn học</a>
        </li>
        <li class="menu-item menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/glossary" title="Thuật ngữ">Thuật ngữ</a>
        </li>
        <li class="menu-item menu-parent-item mom_default_menu_item menu-item-depth-1">
          <a href="/kham-pha" title="Khám phá">Khám phá</a>
        </li>
      </ul>
      <i class="responsive-caret"></i>
    </li>
  </ul>

  <div class="device-menu-wrap mom_visibility_device" style="padding-right: 0px;">
    <div id="menu-holder" class="device-menu-holder">
      <i class="fa-icon-align-justify mh-icon"></i> <span class="the_menu_holder_area"><i
          class="dmh-icon"></i>Menu</span><i class="mh-caret"></i>
    </div>
    <ul class="device-menu mom_visibility_device" id="main_menu_mobile">
      <li id="menu-item-87"
        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home mom_default_menu_item menu-item-iconsOnly menu-item-depth-0">
        <a href="/" title="no title" class="no-arrow"><i class="icon_only momizat-icon-home"></i><span
            class="icon_only_label"></span></a>
      </li>
      <li class="menu-item menu-item-type-custom  menu-item-has-children menu-parent-item mom_mega menu-item-depth-0">
        <a href="#" title="Tutorials">Lập trình</a>
        <ul class="sub-menu mom_mega_wrap mom_mega_col_5">
          <li
            class="menu-item menu-item-type-custom  menu-item-has-children menu-parent-item mega_column mega_col_title menu-item-depth-1">
            <a href="/programming" title="Programming">Programming</a>
            <ul>
              <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-python"
                  title="Python">Python</a></li>
              <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-java"
                  title="Java">Java</a></li>
              <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-pascal"
                  title="Pascal">Pascal</a></li>
              <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-csharp"
                  title="Học C#">Học C#</a></li>
              <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-ruby"
                  title="Học Ruby">Học Ruby</a></li>
              <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-swift"
                  title="Học Swift">Học Swift</a></li>
              <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-c"
                  title="C / C++">C / C++</a></li>
              <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/kotlin"
                  title="Kotlin">Kotlin</a></li>
              <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/golang"
                  title="Golang">Golang</a></li>
              <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/giai-thuat"
                  title="Giải thuật">Giải thuật</a></li>
              <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/visual-basic"
                  title="Visual Basic">Visual Basic</a></li>
            </ul> <i class="responsive-caret"></i>
          </li>
          <li
            class="menu-item menu-item-type-custom  menu-item-has-children menu-parent-item mega_column mega_col_title menu-item-depth-1">
            <a href="/web-frontend" title="Web Frontend">Web Frontend</a>
            <ul>
              <li class="menu-item mom_default_menu_item menu-item-depth-2"><a
                  href="https://freetuts.net/hoc-javascript" title="Javascript">Javascript</a></li>
              <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-angularjs"
                  title="AngularJS">AngularJS</a></li>
              <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-jquery"
                  title="jQuery">jQuery</a></li>
              <li class="menu-item mom_default_menu_item menu-item-depth-2"><a
                  href="https://freetuts.net/hoc-jquery-mobile" title="jQuery Mobile">jQuery Mobile</a></li>
              <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-html-css"
                  title="HTML &amp; CSS">HTML &amp; CSS</a></li>
              <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-bootstrap"
                  title="Bootstrap">Bootstrap</a></li>
              <li class="menu-item mom_default_menu_item menu-item-depth-2"><a
                  href="https://freetuts.net/hoc-typescript" title="TypeScript">TypeScript</a></li>
              <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-sass-css"
                  title="SASS CSS">SASS CSS</a></li>
              <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-vuejs"
                  title="VueJS">VueJS</a></li>
              <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-nestjs"
                  title="NestJS">NestJS</a></li>
              <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/reactjs"
                  title="Học ReactJS">Học ReactJS</a></li>
            </ul> <i class="responsive-caret"></i>
          </li>
          <li
            class="menu-item menu-item-type-custom  menu-item-has-children menu-parent-item mega_column mega_col_title menu-item-depth-1">
            <a href="/web-backend" title="Web Backend">Web Backend</a>
            <ul>
              <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-php"
                  title="PHP">PHP</a></li>
              <li class="menu-item mom_default_menu_item menu-item-depth-2"><a
                  href="https://freetuts.net/hoc-codeigniter" title="Codeigniter">Codeigniter</a></li>
              <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-laravel"
                  title="Laravel">Laravel</a></li>
              <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-phalcon"
                  title="Phalcon">Phalcon</a></li>
              <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-opencart"
                  title="OpenCart">OpenCart</a></li>
              <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-nodejs"
                  title="NodeJS">NodeJS</a></li>
            </ul> <i class="responsive-caret"></i>
          </li>
          <li
            class="menu-item menu-item-type-custom  menu-item-has-children menu-parent-item mega_column mega_col_title menu-item-depth-1">
            <a href="/mobile-development" title="Web Frontend">Mobile Dev</a>
            <ul>
              <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/react-native"
                  title="React Native">React Native</a></li>
              <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/ios"
                  title="Học iOS">Học iOS</a></li>
              <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/android"
                  title="Android">Android</a></li>
            </ul> <a style="margin-top: 33px" href="/database" title="Database">Database</a>
            <ul>
              <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/csdl-can-ban"
                  title="CSDL căn bản">CSDL căn bản</a></li>
              <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-sqlite"
                  title="Học SQLite">Học SQLite</a></li>
              <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-mysql"
                  title="Học MySQL">Học MySQL</a></li>
              <li class="menu-item mom_default_menu_item menu-item-depth-2"><a
                  href="https://freetuts.net/hoc-sql-server" title="Học SQL Server">Học SQL Server</a></li>
              <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-oracle"
                  title="Học Oracle">Học Oracle</a></li>
              <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-mongodb"
                  title="Học MongoDB">Học MongoDB</a></li>
            </ul>
            <i class="responsive-caret"></i>
          </li>
          <li
            class="menu-item menu-item-type-custom  menu-item-has-children menu-parent-item mega_column mega_col_title menu-item-depth-1">

            <a href="/cong-cu" title="Công cụ">Công cụ</a>
            <ul>
              <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/hoc-git"
                  title="Học Git">Học Git</a></li>
              <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/testing"
                  title="Testing">Testing</a></li>
              <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/dev-tool"
                  title="Dev Tool">Dev Tool</a></li>
              <li class="menu-item mom_default_menu_item menu-item-depth-2"><a href="https://freetuts.net/control-panel"
                  title="Control Panel">Control Panel</a></li>
            </ul>
            <i class="responsive-caret"></i>
          </li>
        </ul>
        <i class="responsive-caret"></i>
      </li>
      <li class="menu-item menu-item-has-children menu-parent-item mom_default_menu_item menu-item-depth-0">

        <a href="#" rel="nofollow" title="Video">
          Video </a>
        <ul class="sub-menu ">
          <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/hoc-lam-web-php" title="Lập trình web PHP AZ">
              Lập trình web PHP AZ</a>

          </li>
          <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/lam-blog-bang-wordpress-voi-theme-generatepress-3352.html" title="Làm blog WordPress">
              Làm blog WordPress</a>

          </li>
          <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/hoc-codeigniter/xay-dung-website-ban-hang-codeigniter" title="Làm web bán hàng">
              Làm web bán hàng</a>

          </li>
        </ul>
        <i class="responsive-caret"></i>
      </li>
      <li class="menu-item menu-item-has-children menu-parent-item mom_default_menu_item menu-item-depth-0">

        <a href="/khoa-hoc" title="Khóa học">
          Khóa học </a>
        <ul class="sub-menu ">
          <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/khoa-hoc/ngon-ngu-lap-trinh" title="Khóa học lập trình">
              Khóa học lập trình</a>

          </li>
          <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/khoa-hoc/tin-hoc-may-tinh" title="Khóa học tin học VP">
              Khóa học tin học VP</a>

          </li>
          <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/khoa-hoc/design" title="Khóa học thiết kế">
              Khóa học thiết kế</a>

          </li>
          <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/khoa-hoc/khoa-hoc-khac" title="Khóa học khác">
              Khóa học khác</a>

          </li>
        </ul>
        <i class="responsive-caret"></i>
      </li>
      <li class="menu-item menu-item-has-children menu-parent-item mom_default_menu_item menu-item-depth-0">

        <a href="/webmaster" title="Webmaster">
          Webmaster </a>
        <ul class="sub-menu ">
          <li class="menu-item menu-item-has-children menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="#" title="Nên dùng">
              <i class="fa-icon-hand-right"></i>Nên dùng</a>

            <ul class="sub-menu ">
              <li class="menu-item  mom_default_menu_item menu-item-depth-2">
                <a href="/hosting-tot-nhat-2547.html" title="Hosting tốt nhất">Hosting tốt nhất</a>
              </li>
              <li class="menu-item  mom_default_menu_item menu-item-depth-2">
                <a href="/vps-tot-nhat-2568.html" title="VPS tốt nhất">VPS tốt nhất</a>
              </li>
              <li class="menu-item  mom_default_menu_item menu-item-depth-2">
                <a href="/nhung-noi-ban-domain-uy-tin-2881.html" title="Mua domain ở đâu">Mua domain ở đâu</a>
              </li>
            </ul>
            <i class="responsive-caret"></i>
          </li>
          <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/kien-thuc-domain" title="Kiên thức Domain">
              Kiên thức Domain</a>

          </li>
          <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/thu-thuat-hosting" title="Thủ thuật Hosting">
              Thủ thuật Hosting</a>

          </li>
          <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/hoc-linux" title="Quản trị Linux">
              Quản trị Linux</a>

          </li>
          <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/quan-tri-windows" title="Quản trị Windows">
              Quản trị Windows</a>

          </li>
        </ul>
        <i class="responsive-caret"></i>
      </li>
      <li class="menu-item menu-item-has-children menu-parent-item mom_default_menu_item menu-item-depth-0">

        <a href="/giam-gia" title="Mã giảm giá">
          Mã giảm giá </a>
        <ul class="sub-menu ">
          <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/giam-gia/ma-giam-gia-tinohost" title="Tinohost">
              Tinohost</a>

          </li>
          <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/giam-gia/ma-giam-gia-azdigi" title="Azdigi">
              Azdigi</a>

          </li>
          <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/giam-gia/ma-giam-gia-hawkhost" title="Hawk Host">
              Hawk Host</a>

          </li>
          <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/giam-gia/ma-giam-gia-stablehost" title="Stablehost">
              Stablehost</a>

          </li>
          <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/giam-gia/ma-giam-gia-vultr" title="Vultr">
              Vultr</a>

          </li>
        </ul>
        <i class="responsive-caret"></i>
      </li>
      <li class="menu-item menu-item-has-children menu-parent-item mom_default_menu_item menu-item-depth-0">

        <a href="/hoc-wordpress" title="WordPress">
          WordPress </a>
        <ul class="sub-menu ">
          <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/hoc-wordpress/tao-website-wordpress" title="Bắt đầu tại đây">
              Bắt đầu tại đây</a>

          </li>
          <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/hoc-wordpress/wp-themes" title="Chia sẻ theme WP">
              Chia sẻ theme WP</a>

          </li>
          <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/hoc-wordpress/lap-trinh-plugin-wordpress" title="Lập trình plugin WP">
              Lập trình plugin WP</a>

          </li>
          <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/hoc-wordpress/lap-trinh-theme-wordpress" title="Lập trình theme WP">
              Lập trình theme WP</a>

          </li>
          <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/hoc-wordpress/thu-thuat-wordpress" title="Thủ thuật WP">
              Thủ thuật WP</a>

          </li>
          <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/hoc-wordpress/template-tags" title="Template Tags">
              Template Tags</a>

          </li>
        </ul>
        <i class="responsive-caret"></i>
      </li>
      <li class="menu-item menu-item-has-children menu-parent-item mom_default_menu_item menu-item-depth-0">

        <a href="/tin-hoc" title="Tin học">
          Tin học </a>
        <ul class="sub-menu ">
          <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/hoc-word" title="Word">
              Word</a>

          </li>
          <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/hoc-excel" title="Excel">
              Excel</a>

          </li>
          <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/hoc-powerpoint" title="PowerPoint">
              PowerPoint</a>

          </li>
          <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/hoc-access" title="Access">
              Access</a>

          </li>
          <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/hoc-photoshop" title="Photoshop">
              Photoshop</a>

          </li>
        </ul>
        <i class="responsive-caret"></i>
      </li>
      <li class="menu-item menu-item-has-children menu-parent-item mom_default_menu_item menu-item-depth-0">

        <a href="/thu-thuat" title="Thủ thuật">
          Thủ thuật </a>
        <ul class="sub-menu ">
          <li class="menu-item menu-item-has-children menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/thu-thuat/cuu-ho-may-tinh" title="Cứu hộ máy tính">
              Cứu hộ máy tính</a>

            <ul class="sub-menu ">
              <li class="menu-item  mom_default_menu_item menu-item-depth-2">
                <a href="/thu-thuat/cuu-ho-may-tinh/ghost-win" title="Cách ghost Win">Cách ghost Win</a>
              </li>
              <li class="menu-item  mom_default_menu_item menu-item-depth-2">
                <a href="/thu-thuat/cuu-ho-may-tinh/cai-win" title="Cách cài Win">Cách cài Win</a>
              </li>
              <li class="menu-item  mom_default_menu_item menu-item-depth-2">
                <a href="/thu-thuat/cuu-ho-may-tinh/tao-usb-boot" title="Tạo USB Boot">Tạo USB Boot</a>
              </li>
              <li class="menu-item  mom_default_menu_item menu-item-depth-2">
                <a href="/thu-thuat/cuu-ho-may-tinh/phuc-hoi-du-lieu" title="Phục hồi dữ liệu">Phục hồi dữ liệu</a>
              </li>
              <li class="menu-item  mom_default_menu_item menu-item-depth-2">
                <a href="/thu-thuat/cuu-ho-may-tinh/loi-win" title="Fix lỗi win">Fix lỗi win</a>
              </li>
            </ul>
            <i class="responsive-caret"></i>
          </li>
          <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/thu-thuat/dien-thoai" title="Điện Thoại">
              Điện Thoại</a>

          </li>
          <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/thu-thuat/may-tinh" title="Máy tính">
              Máy tính</a>

          </li>
          <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/thu-thuat/game" title="Game">
              Game</a>

          </li>
          <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/thu-thuat/ky-thuat-so" title="Kỹ Thuật Số">
              Kỹ Thuật Số</a>

          </li>
          <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/thu-thuat/ung-dung" title="Ứng dụng">
              Ứng dụng</a>

          </li>
          <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/review" title="Review">
              Review</a>

          </li>
        </ul>
        <i class="responsive-caret"></i>
      </li>
      <li class="menu-item menu-item-has-children menu-parent-item mom_default_menu_item menu-item-depth-0">

        <a href="/mon-hoc" title="Môn học">
          Môn học </a>
        <ul class="sub-menu ">
          <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/toan" title="Toán">
              Toán</a>

          </li>
          <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/tieng-anh" title="Tiếng Anh">
              Tiếng Anh</a>

          </li>
          <li class="menu-item  menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/van-hoc" title="Văn học">
              Văn học</a>

          </li>
        </ul>
        <i class="responsive-caret"></i>
      </li>
      <li class="more menu-item menu-item-has-children menu-parent-item mom_default_menu_item menu-item-depth-0">

        <a href="#" title="more">
          <span class="menu-more"></span>
          <span class="menu-text">More</span>
        </a>
        <ul class="sub-menu ">
          <li class="menu-item menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/tai-ve" title="Download">Download</a>
          </li>
          <li class="menu-item menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/marketing" title="Marketing">Marketing</a>
          </li>
          <li class="menu-item menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/mon-hoc" title="Môn học">Môn học</a>
          </li>
          <li class="menu-item menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/glossary" title="Thuật ngữ">Thuật ngữ</a>
          </li>
          <li class="menu-item menu-parent-item mom_default_menu_item menu-item-depth-1">
            <a href="/kham-pha" title="Khám phá">Khám phá</a>
          </li>
        </ul>
        <i class="responsive-caret"></i>
      </li>
    </ul>
  </div>
</div>
