<div class="boxed-content-wrapper clearfix">

  <div class="inner">




  </div>
  <div class="inner" style="margin-top: 20px;">

    <div class="main_container">
      <div class="main-col" id="main_container">


        <h1>Học lập trình online miễn phí</h1>
        <p>Freetuts là trang web học lập trình online miễn phí với các chủ đề: lập trình / các môn học /
          công nghệ / review sản phẩm tốt nhất đến với độc giả.</p>

        <blockquote style="margin-top: 20px" class="base-box mom_box_sc_ mom_box_sc clear">
          Tham gia nhóm hỗ trợ cài đặt website WordPress miễn phí <a
            href="https://www.facebook.com/groups/web.freetuts">tại đây</a>.
        </blockquote>


        <div class="news-box  base-box scrolling-box-wrap">
          <header class="nb-header">
            <h3 class="nb-title"><a href="https://freetuts.net/giam-gia"
                title="Mã giảm giá">{{postItems[0].post_title}}</a></h3>
          </header>
          <div class="nb-content">
            <div class="scrolling-box">
              <div class="sb-content mom-carousel giam-gia-slide owl-theme owl-loaded" data-item="3">
                <div class="owl-stage-outer">
                  <div class="owl-stage"
                    style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 3054.34px;">
                    <div class="owl-item active" style="width: 277.667px; margin-right: 0px;"
                      *ngFor="let item of postItems[0].group">
                      <div
                        class="sb-item post type-post status-publish format-audio has-post-thumbnail category-life category-world tag-momizat tag-templates tag-themes tag-tutorial tag-wordpress post_format-post-format-audio">
                        <div class="sb-item-img">
                          <a href="https://freetuts.net/giam-gia/tinohost-tang-5-nam-khi-mua-vps-hosting-trong-dip-tet-2021-69.html"
                            title="Tinohost tặng 5 năm khi mua VPS / hosting trong dịp tết 2021">
                            <img src="{{item.post_img_url}}"
                              alt="Tinohost tặng 5 năm khi mua VPS / hosting trong dịp tết 2021">
                          </a>
                        </div>
                        <h3><a
                            href="https://freetuts.net/giam-gia/tinohost-tang-5-nam-khi-mua-vps-hosting-trong-dip-tet-2021-69.html"
                            title="Tinohost tặng 5 năm khi mua VPS / hosting trong dịp tết 2021">{{item.post_title}}</a>
                        </h3>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="owl-controls">
                  <div class="owl-nav">
                    <div class="owl-prev" style="display: none;">prev</div>
                    <div class="owl-next" style="display: none;">next</div>
                  </div>
                  <div class="owl-dots">
                    <div class="owl-dot active"><span></span></div>
                    <div class="owl-dot"><span></span></div>
                    <div class="owl-dot"><span></span></div>
                    <div class="owl-dot"><span></span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>





        <div class="news-box  base-box nb-style3">
          <header class="nb-header">
            <h2 class="nb-title"><span>{{postItems[5].post_title}}</span></h2>
          </header>
          <!--nb header-->
          <div class="nb-content">
            <div class="recent-news">
              <article
                class="post-198 post type-post status-publish format-standard has-post-thumbnail category-sports category-world tag-design tag-momizat tag-templates tag-themes tag-productorial tag-wordpress">
                <div class="news-image">
                  <a href="https://freetuts.net/cac-ham-trong-thu-vien-ctime-c-c++-3530.html"><img
                      src="{{postLaptrinh[0].post_img_url}}" alt="Các hàm trong thư viện ctime C / C++" width="284"
                      height="180"></a>
                </div>
                <div class="news-summary">
                  <h3><a
                      href="https://freetuts.net/cac-ham-trong-thu-vien-ctime-c-c++-3530.html">{{postLaptrinh[0].post_title}}</a>
                  </h3>

                  <p>
                  </p>
                </div>
              </article>
            </div>
            <div class="older-articles">
              <ul>
                <li *ngFor="let item of postLaptrinh.slice(1)">
                  <a href="https://freetuts.net/cac-ham-trong-thu-vien-cstdio-c-c++-3529.html"><img
                      src="{{item.post_img_url}}" alt="Các hàm trong thư viện cstdio C / C++"></a>
                  <div class="details has-feature-image">
                    <h4><a
                        href="https://freetuts.net/cac-ham-trong-thu-vien-cstdio-c-c++-3529.html">{{item.post_title}}</a>
                    </h4>

                  </div>
                </li>
              </ul>

            </div>
          </div>
        </div>

        <div class="news-box  base-box nb-style3">
          <header class="nb-header">
            <h2 class="nb-title"><span>{{postItems[4].post_title}}</span></h2>
          </header>
          <!--nb header-->
          <div class="nb-content">
            <div class="recent-news">
              <article
                class="post-198 post type-post status-publish format-standard has-post-thumbnail category-sports category-world tag-design tag-momizat tag-templates tag-themes tag-tutorial tag-wordpress">
                <div class="news-image">
                  <a href="https://freetuts.net/dich-vu-cai-dat-blog-bang-wordpress-3375.html"><img
                      src="{{postWebMienPhi[0].post_img_url}}" alt="Dịch vụ cài đặt blog bằng WordPress miễn phí"
                      width="284" height="180"></a>
                </div>
                <div class="news-summary">
                  <h3><a
                      href="https://freetuts.net/dich-vu-cai-dat-blog-bang-wordpress-3375.html">{{postWebMienPhi[0].post_title}}</a>
                  </h3>
                  <p>
                    {{postWebMienPhi[0].post_desc}}</p>
                </div>
              </article>
            </div>
            <div class="older-articles">
              <ul>
                <li *ngFor="let item of postWebMienPhi.slice(1)">
                  <a href="https://freetuts.net/tao-trang-quan-ly-options-trong-wordpress-638.html"><img
                      src="{{item.post_img_url}}" alt="Bài 06: Tạo trang quản lý Options trong WordPress"></a>
                  <div class="details has-feature-image">
                    <h4><a
                        href="https://freetuts.net/tao-trang-quan-ly-options-trong-wordpress-638.html">{{item.post_title}}</a>
                    </h4>

                  </div>
                </li>
              </ul>

            </div>
          </div>
          <footer class="nb-footer">
            <a href="https://freetuts.net/web-mien-phi" class="show-more-ajax" title="Web miễn phí">Xem thêm <i
                class="fa-icon-long-arrow-right"></i> </a>
          </footer>
        </div>
        <div class="news-box  base-box nb-style3">
          <header class="nb-header">
            <h2 class="nb-title"><span>{{postItems[3].post_title}}</span></h2>
          </header>
          <!--nb header-->
          <div class="nb-content">
            <div class="recent-news">
              <article
                class="post-198 post type-post status-publish format-standard has-post-thumbnail category-sports category-world tag-design tag-momizat tag-templates tag-themes tag-tutorial tag-wordpress">
                <div class="news-image">
                  <a href="https://freetuts.net/regular-expression-trong-linux-3523.html"><img
                      src="{{postQuanTriWeb[0].post_img_url}}" alt="Giải thích cú pháp Regular Expression trong Linux"
                      width="284" height="180"></a>
                </div>
                <div class="news-summary">
                  <h3><a
                      href="https://freetuts.net/regular-expression-trong-linux-3523.html">{{postQuanTriWeb[0].post_title}}</a>
                  </h3>

                  <p>
                    {{postQuanTriWeb[0].post_desc}} </p>
                </div>
              </article>
            </div>
            <div class="older-articles">
              <ul>
                <li *ngFor="let item of postQuanTriWeb.slice(1)">
                  <a href="https://freetuts.net/lenh-ls-trong-linux-3522.html"><img src="{{item.post_img_url}}"
                      alt="Cách sử dụng lệnh ls trong Linux"></a>
                  <div class="details has-feature-image">
                    <h4><a href="https://freetuts.net/lenh-ls-trong-linux-3522.html">{{item.post_title}}</a></h4>

                  </div>
                </li>
              </ul>

            </div>
          </div>
          <footer class="nb-footer">
            <a href="https://freetuts.net/webmaster" class="show-more-ajax" title="Quản trị Web">Xem
              thêm <i class="fa-icon-long-arrow-right"></i> </a>
          </footer>
        </div>
      </div>
      <div class="clear"></div>
    </div>

    <div class="sidebar main-sidebar" id="right_sidebar" style="position: relative; height: 1349px;">
      <div class="widget momizat-reviews" id="blog_latest">
        <div class="widget-head">
          <h3 class="widget-title"><span>{{postItems[2].post_title}}</span></h3>
        </div>
        <div class="mom-posts-widget">
          <div class="mpw-post" *ngFor="let item of postItems[2].group">
            <div class="post-img main-sidebar-element">
              <a href="https://freetuts.net/khoa-hoc/lo-trinh-hoc-photoshop-134.html">
                <img src="{{item.post_img_url}}"
                  alt="Lộ trình học Photoshop cho người mới bắt đầu - Có video học miễn phí" width="90" height="60">
              </a>
            </div>
            <div class="details has-feature-image">
              <h4><a href="https://freetuts.net/khoa-hoc/lo-trinh-hoc-photoshop-134.html"
                  title="Lộ trình học Photoshop cho người mới bắt đầu - Có video học miễn phí">{{item.post_title}}</a>
              </h4>

            </div>
          </div>


          <div class="mpw-post" style="text-align: right">
            <a href="https://freetuts.net/khoa-hoc" title="khóa học">Xem tất cả</a>
          </div>
        </div>
      </div>
      <div class="weather-widget blog widget weather-categories ">
        <div class="widget-head">
          <h3 class="widget-title">
            <span>{{postItems[1].post_title}}</span>
          </h3>
        </div>
        <div class="next-days" style="margin-bottom: 5px; max-height: 450px; overflow-y: scroll">
          <ol>

            <li *ngFor="let item of postItems[1].group">
              <div class="day-summary">
                <div class="d-decs" style="padding-left: 10px">
                  <a style="margin-left: 0px"
                    href="https://freetuts.net/ref/phuong-thuc-split-trong-string-java-500.html"
                    title="Phương thức split() trong String Java">{{item.post_title}}</a>
                </div>
              </div>
            </li>
          </ol>
        </div>
      </div>
      <div id="f_right_sidebar">
        <div class="widget " style="border: none">
          <div class="mom-posts-widget" style="padding: 0px">
            <div class="table-responsive">
              <table style="margin-bottom: 0px">
                <tbody>
                  <tr>
                    <td colspan="3"
                      style="background: #2f6e91; color:#fff; text-align: center; font-weight: bold; font-size: 14px; padding: 2px 10px">
                      MÃ GIẢM GIÁ</td>
                  </tr>
                  <tr style="font-size: 14px !important">
                    <td>Unica</td>
                    <td>50%</td>
                    <td><span class="mom_button_wrap"><a href="https://unica.vn/?aff=2560&amp;src=ft.sidebar.coupon"
                          class="coupon button mom_button pink_bt" rel="nofollow" title="freetuts50"
                          style="margin-bottom: 0px; border-radius: 20px;">Lấy
                          Mã</a></span></td>
                  </tr>
                  <tr style="font-size: 14px !important">
                    <td>TinoHost</td>
                    <td>30%</td>
                    <td><span class="mom_button_wrap"><a href="https://tinohost.com/?php=213"
                          class="coupon button mom_button pink_bt" rel="nofollow" title="TINO30_2020"
                          style="margin-bottom: 0px; border-radius: 20px;">Lấy
                          Mã</a></span></td>
                  </tr>
                  <tr style="font-size: 14px !important">
                    <td>INET</td>
                    <td>30%</td>
                    <td><span class="mom_button_wrap"><a href="https://freetuts.net/recommended/inet"
                          class="coupon button mom_button pink_bt" rel="nofollow" title="INET30UP"
                          style="margin-bottom: 0px; border-radius: 20px;">Lấy
                          Mã</a></span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="widget momizat-reviews">
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
